{% extends "AppBundle:Layouts:layout.html.twig" %}
{% block javascript %}
    {{ parent() }}
    <script src="{{ asset('assets/js/custom/messages.js')}}"></script>
{% endblock%}
{% block content %}
    <div class="container">
        <div class="col-lg-12 box-default">
            <h1 class="box-header">Mensajeria privada</h1>

            <div class="col-lg-6">
                <a href="{{ path('private_message_index') }}" class="btn btn-warning">Enviar mensaje</a>
            </div>
            {% include 'private_messages_part.html.twig'  %}
            <div class="clearfix"></div>
        </div>
        <div class="clearfix"></div>
    </div>
{% endblock %}
